@font-face {
    font-family: Verdana;
    src: url("verdanab.ttf");
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("../img/rana-sawalha-364253-unsplash.jpg");
    background-size: cover;
}
.Header-fon{
    height: 54px;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.41);
    position: relative;
}
.journey-a{
    text-decoration: none;
    font-family: Verdana, serif;

    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-left: 80px;
    margin-top: 18px;
    position: absolute;
}
.journey-a:hover{
    color:  #3cb878;
}
.ic-ul{
    position: relative;
}
.ic-ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 15px;
}
.ic-ul li, .ic-ul a {
    height: 44px;
    display: block;
}
.ic-li-1{
    width: 19px;
    height: 19px;
    background: url('css_sprites.png') -20px -20px;
    position: absolute;
    left: 59%;
}
.ic-li-2 {
    width: 28px;
    height: 20px;
    background: url('css_sprites.png') -139px -20px;
    position: absolute;
    left: 63%;
}
.ic-li-3{
    width: 20px;
    height: 20px;
    background: url('css_sprites.png') -79px -20px;
    position: absolute;
    left: 67.6%;
}
.ic-li-1 a:hover{
    background: url('css_sprites (1).png') -20px -20px;
}
.ic-li-2 a:hover{
    background: url('css_sprites (1).png') -139px -20px;
}
.ic-li-3 a:hover{
    background: url('css_sprites (1).png') -79px -20px;
}
.a-wel-log-a{
    text-decoration: none;
    position: absolute;
    right: 12.8%;
    font-size: 14px;
    font-family: "Verdana";
    top: 16px;
}
.wel-div-a{
    color: white;
    display: inline-block;
}
.Log-div-color-a{
    color: #3cb878;
    display: inline-block;
    margin-left: 7px;
}
.Log-div-color-a:hover{
    text-decoration: underline;
}
.a-sign-up{
    font-size: 14px;
    font-family: "Verdana";
    line-height: 21px;
    text-decoration: none;
    right: 80px;
    position: absolute;
    top: 14.2px;
}
.a-or{
    color: #ffffff;
    display: inline-block;
}
.a-sign{
    color: #3cb878;
    text-decoration: none;
    display: inline-block;
}
.a-sign:hover{
    text-decoration: underline;
}
.polocka{
    background-color:  rgba(0, 0, 0, 0.31);
    position: absolute;
    height: 25px;
    width: 2px;
    right: 26.8%;
    top: 15px;
}
/*118.5*/
/*586*/
.sign-up-center{
   display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 118.5px;
}
.content-sign{
    background-color: #ffffff;
    width: 444px;
    height: 684px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}
.kvadr-left{
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    position: relative;
    top: 32px;
    margin-left: -1px;
}
.content-center{
    position: absolute;
    width: 323px;
    height: 600px;
    top: 32px;
    left: 63px;

}
.sign-int{
    font-family: "Verdana";
    color:  #434343;
    font-size: 20px;
}
.log-up-right{
    right: 0px;
    top: 6px;
    position: absolute;
}
.log-up-right a{
    font-size: 14px;
    color:  #3cb878;
    font-family: "Verdana";
    text-decoration: none;
}
.log-up-right:hover{
    text-decoration: underline;
}
.facebook-a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: "Verdana";
}
.facebook{
    border-radius: 3px;
    background-color:  #264b96;
    width: 157px;
    height: 46px;
    position: relative;
    top: 19px;
    display: inline-block;
}
.img-facebook{
    width: 10px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 19px;
    font-family: "Verdana";
    font-size: 18px;
}
.text-facebook{
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 12px;
}
.palca2{
    height: 27px;
    position: absolute;
    width: 2px;
    background-color:  rgba(0, 0, 0, 0.21);
    left: 43px;
    top: 9px;
}
.google-a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: "Verdana";
}
.google{
    border-radius: 3px;
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    position: relative;
    top: 19px;
    display: inline-block;
    right: -4px;
}
.google-img{
    width: 25px;
    height: 16px;
    position: absolute;
    top: 14px;
    left: 12px;
    font-family: "Verdana";
}
.text-google{
    position: absolute;
    right: 27px;
    top: 12px;
}
.palca3 {
    height: 27px;
    position: absolute;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.21);
    left: 45px;
    top: 9px;
}
.content-google{
    display: inline-block;
}
.lin-or-content{
    position: relative;
    width: 323px;
    height: 20px;
    display: block;
    top: 9%;
}

.text-or{
    font-family: "Verdana";
    color:  #848484;
    font-size: 14px;
    position: absolute;
    left: 48%;
    display: inline-block;
}
.lin-or-left{
    background-color:  rgba(105, 105, 105, 0.41);
    width: 136px;
    height: 1px;
    display: inline-block;
   margin-bottom: 3px;
}
.lin-or-reh{
    background-color: rgba(105, 105, 105, 0.41);
    width: 136px;
    height: 1px;
    display: inline-block;
    right: 0px;
    position: absolute;
    top: 10px;
}
.sign-up-input{
    font-family: "Verdana", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
}
.email-pas{
    top: 70px;
    position: relative;
}
.jason-top{
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 95%;
    height: 46px;
}

.jason-top > input{
    width: 100%;
    height: 100%;
    display: inline-block;
    border: none;
    padding-left: 20px;
}.text-input-1{
     outline: 0px;
     border: 3px solid #eaedf0;
     border-radius: 3px;
     background: #FFFFFF;
 }
.email-pass-div-input{
    border-radius: 3px;
    background-color:  #ffffff;
    width: 100%;
    height: 46px;
    margin-top: 20px;
}
input[type=password], input[type=email], .Last-name-in{
    width: 92.6%;
    height: 100%;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
}
.conteiner-cneckbox > label, .checbox-a{
    font-family: "Verdana";
    color:  #434343;
    font-size: 14px;
}
.checbox-a{
    color:  #3cb878;
    text-decoration: none;
}
.checbox-a:hover{
    text-decoration: underline;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -999999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 21px;
    height: 21px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
input[type="checkbox"]:checked + label:before,
 input[type="checkbox"]:not(:checked) + label:before {
     border-radius: 2px;
 }
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 14px;
    height: 8px;
    border-radius: 3px;
    border-left: 4px solid #3cb878;
    border-bottom: 4px solid #3cb878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after{
    opacity: 1;
}
input[type="checkbox"]:checked + label:after{
    opacity: 0;
}

.div-checkbox{
    width: 100%;
    position: absolute;
    display: inline-block;
    top: 110%;
}
.button-submit{
    top: 128%;
    position: absolute;
    border: none;
    background: #3cb878;
    font-family: "Verdana";
    color:  #ffffff;
    font-size: 16px;
    width: 322px;
    height: 46px;
    cursor: pointer;
}
.button-submit > div{
    position: relative;
}
.div-text-button{
    top: -10px;
    left: 88px;
    position: absolute;

}